*.log
history

# sublime project files
dotfiles.sublime-project
dotfiles.sublime-workspace

vim/init.vim
vim/.netrwhist
vim/plugged/*
vim/backup/*
vim/backup/*
vim/sessions

!vim/undodir/.gitkeep
!vim/undodir/.gitkeep

